@media screen and (max-width:520px) {
    .container{
        margin-top: 50px;
        width: 100%;
    }
    
    .subbutton {
        margin-top: 13px;
        width: 100%;
    }
 }

 .subbutton {
    margin-top: 13px;
    width: 100%;
}

