<div class="container">
    <div class="row">
        <h1>Hello {{getCovidPatient()}}</h1>
    </div>
    <div class="row">
      <div class="col-sm-6">
            <!-- <b *ngFor="let item of patientSatatList; let i=index">{{item}}{{i}}</b> <br>   -->
            <!-- <ng-container *ngFor="let item of patientSatatList; let i=index">
                {{item}}{{i}}
            </ng-container>   <br>  -->
            <div>
                <ul>
                    <li *ngFor="let item of patientSatatList; let i=index">
                        {{i}}  {{item}}
                    </li>
                </ul>
            </div>
            <div class="">

            </div>
      </div>
      <div class="col-sm-6">
          <div class="row">
              <h2>Display date here</h2>
              {{giveDate | date : 'shortDate'}}
              <!-- {{giveDate | date : 'h:mm a z'}} -->
          </div>
          <div class="row">
              <h2>{{RedZoneHeadingFirst}}</h2>
              <input type="text" [(ngModel)] = 'RedZoneHeading'>
              <button mat-raised-button color="primary" (click)="getRedZoneList(RedZoneHeading)">Change Heading</button>
              <button mat-raised-button color="accent" (click)="opendialog()">Open Dialog</button>
          </div>
          <div class="row" style="margin-top: 20px;">
             <figure class="galllery-item">
               <img src="/assets/img/gallexies.jpg" height="200px" width="350px">
             </figure>
          </div>
      </div>
    </div>
    <div>
        <h1>Life Cycle Hook Execution Present in WorldCount Component</h1>
        <div>
            <button mat-raised-button color="primary" (click)="executeHooks()">Execute Life Cycle hooks</button>
        </div>
    </div>
</div>