<nav>
    <ul>
        <!-- <li *ngFor="let item of allroutes">
            <a routerLink="/{{item}}" routerLinkActive="active">{{item}}</a>
        </li> or -->
        <li>
            <a [routerLink]="['/login']">Login Form</a>
        </li>
        <li>
            <a [routerLink]="['/inventory']" skipLocationChange>Inventory</a>
        </li>
        <li>
            <a [routerLink]="['/user']" skipLocationChange>User</a>
        </li>
        <li>
            <a [routerLink]="['/fb-M/observable']">FB Observable</a>
        </li>
        <li>
            <a [routerLink]="['/fb-M/reactive-form']">FB RDF</a>
        </li>
        <li>
            <a [routerLink]="['/StartUp']">Start up</a>
        </li>
        <li>
            <a [routerLink]="['/ag-grid-tree']">Ag Grid</a>
        </li>
        <li>
            <a [routerLink]="['/covid19m']">Covid19 Module</a>
        </li>
        <li>
            <a [routerLink]="['/lit-Elements']">Lit-Elements</a>
        </li>
       <li>
           <a [routerLink]="['/story-book']">Story Book</a>
       </li>
        <div class="routing-button">
            <button class="but" routerLink="/Skill-M/skill-list">SkillM</button>
            <button class="but" routerLink="/fb-M">FB-M</button>
        </div>
        <!-- <a [routerLink]="['/fb-M/dialogComp']" routerLinkActive="router-link-active" >D</a> -->
        <!-- <select name="" id="">Menu
            <option *ngFor="let item of allroutes" [value]="item" (click)="getvalue($event)">
                <a routerLink="/{{item}}" routerLinkActive="active">{{item}}</a>
            </option>
        </select> -->
    </ul>   
</nav>